NEXT_PUBLIC_ENV=local
NEXT_API_BASE_URL=http://localhost:3000/api/v1
NEXT_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_CLOUD_FRONT=
RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false

#S3 Configuration
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXX
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXX
AWS_S3_REGION=ap-southeast-1
AWS_S3_PUBLIC_BUCKET=camera-detection
