# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

DOMAIN_NAME=host.local.int

# === Django ===
# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'

DJANGO_SECRET_KEY=__CHANGEME__

# === Database ===

# These variables are special, since they are consumed
# by both django and postgres docker image.
# Cannot be renamed if you use postgres in docker.
# See: https://hub.docker.com/_/mysql

MYSQL_DATABASE=src
MYSQL_USER=src
MYSQL_PASSWORD=src
MYSQL_ROOT_PASSWORD=rootpassword

# Used only by django:
DJANGO_DATABASE_HOST=127.0.0.1
DJANGO_DATABASE_PORT=3307

SENTRY_DSN=
SENTRY_ENV=localhost


#S3 Configuration
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXX
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXX
AWS_S3_REGION=ap-southeast-1
AWS_S3_PUBLIC_BUCKET=camera-detection
